.app {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.app .button .submit {
    margin: 10px;
}

.app .results {
    padding: 10px;
    margin: 20px;
    text-align: left;
}

.app .patientMedications {
    margin-bottom: 10px;
    padding-left: 40px;
}

.app .rules {
    margin-bottom: 20px;
    padding-left: 40px;
}

.app .rules .checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
}

.app .results .button {
    text-align: center;
    margin-bottom: 20px;
}